{% extends 'base.html.twig' %}

{% block title %}1895 - Kies je cadeau{% endblock %}

{% block body %}
<style>
    body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .choiceField input[type="radio"] {
        margin-left: 50px;
    }
    .container > div { 
        margin: 10px 0;
    }
</style>
<form method="post">
    {{ form_start(form) }}
        <div class="container">
            <div class="choiceField">
            {{ form_widget(form.choiceField) }}
            </div>
            <div class="button">
                {{ form_widget(form.submit) }}
            </div>
        </div>
    {{ form_end(form) }}
</form>

{% endblock %}
